# ============================
# Application Mode
# ============================

MODEL_TYPE=fake
COUNT_BACKEND_TYPE=inmemory


# ============================
# TensorFlow Serving
# ============================

TF_MODEL_NAME=ssd_mobilenet_v2
OMP_NUM_THREADS=2
TF_INTRA_OP_THREADS=2


# ============================
# PostgreSQL
# ============================

POSTGRES_USER=test
POSTGRES_PASSWORD=test
POSTGRES_DB=test_db

# Example connection string for inside Docker network
DATABASE_URL=postgresql+psycopg2://test:test@postgres:5432/test_db


# ============================
# MongoDB
# ============================

MONGO_DB=prod_counter